/*------reset---------*/
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.box {
	width: 1000px;
	height: 1000px;
	background: red;
}

body{
	color: #000000;
	font-family: "Arial" sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

a:hover , a {
    color: inherit;
    text-decoration: inherit;
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}



/*------general---------*/



span.bold {
	font-weight: bold;
}


/*------main---------*/
.main{
	background-image: url(../img/football.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:#fff;
}

.main__mask{
	background-color: rgba(10, 14, 52, 0.9);
}

.main__wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 10vh;
	padding-top: 5vh;
}

.main__header {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	transition: all 0.3s ease;
}

.header__logo:hover {
	border-bottom: 5px solid #fff;
}

.header__other{
	font-size: 14px;
	font-weight: 300;
	line-height: 34.49px;
	text-transform: uppercase;
}

.menu-toggle {
	display: none;
	transition: all 0.3s ease;
}

.menu-toggle:before {
	display: none;
	transition: all 0.3s ease;
}

.menu-toggle:after {
	display: none;
	transition: all 0.3s ease;
}

.title{
	font-size: 90px;
	font-weight: 700;
	line-height: 100px;
	text-transform: uppercase;
	margin-bottom: 8px;
	color:#fff;

}

.title--right{
	display: block;
	text-align: right;
}

.main__menu{
	display: flex;
	justify-content: flex-end;
	color: #9071ea;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	transition: all 0.3s ease;
	align-items: center;
}

.menu__item{
	margin-left: 45px;
	padding: 7px 0;
	transition: all 0.3s ease;
}

.menu__item:hover {
	font-size: 16px;
    font-weight: 700;
    background: #fff;
    color: blue;
    border-radius: 15px;
    padding: 7px 0;
    transition: all 0.3s ease;
}


.main__buttons{
	display: flex;
	justify-content: center;
}

.main__button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #5e42b0;
	margin: 0px 30px;
	border-radius: 40px;
	width: 311px;
	padding: 15px 0;
	margin: 0 4%;
}

.btn__text{
	line-height: 15px;
	margin-left: 30px;
}

img {
	max-width: 100%;
}

.box{
	display: flex;
	justify-content: space-between;
}

.elements{
	width: 40px;
	height: 40px;
	background-color: red;
	margin: 5px;
}




/* media queries */

@media screen and (max-width: 1440px) {
	.title {
	    font-size: 60px;
	    line-height: 1;
	}
	.menu__item {
    	margin-left: 35px;
	}
	.main__button {
		width: 265px;
    	padding: 12px 0;
	}
	.btn__icon {
		width: 30px;
	}
	.btn__text {
		margin-left: 20px;
	}
		
}

@media screen and (max-width: 1024px) {
	.title {
	    font-size: 47px;
	    line-height: 1;
	}
	.main__menu {
		font-size: 12px;
	}
	.menu__item {
    	margin-left: 20px;
	}
	.main__button {
	    width: 225px;
   		padding: 8px 0;
	    font-size: 12px;
	}
	.btn__icon {
		width: 25px;
	}
	.btn__text {
		margin-left: 15px;
	}
}

@media screen and (max-width: 768px) {
	.title {
    	font-size: 35px;
	}
	.main__button {
		width: 215px;
	}
	.menu__item {
    	margin-left: 15px;
	}
	.btn__icon {
	    width: 20px;
	}
	.btn__text {
		line-height: 1;
	}
}


@media screen and (max-width: 600px) {
	
	.main__wrapper{
		width: 95%;
		padding: 3vh 0;
	}
	.title {
		font-size: 27px;
		text-align: center;
		margin-bottom: 15px;
		position: relative;
		margin-top: -90px;
		transition: all 0color: #fff;
	}

	.title.active {
		margin-top: 0;
	}

	.title--right{
		text-align: center;
	}
	.main__header {
	    align-items: left;
	    flex-direction: column;
	}
	.main__buttons{
		flex-direction: column;	
	}
	.main__button{
		margin: 0 auto;
		margin-bottom: 15px;
		width: 300px;
		justify-content: flex-start;
	}
	.btn__icon{
		margin-left: 70px;
	}
	.main__menu{
		flex-direction: column;
		transition: all 0.3s ease;
		margin-bottom: 15px;
	}

	.main__menu.active {
		display: flex;
	}

	.menu__item{
		border: 1px solid blue;
		border-bottom: 0px;	
		background-color: #fff;
		margin: 0 auto;
		text-align: left;
		font-size: 18px;
		color: blue;
		line-height: 2.2;
		letter-spacing: 8px;
		padding-left: 20px;
		width: 95%;
		height: 0px;
		transition: all 0.4s ease;
		color: rgba(1,1,1,0);
		border: none;
	}

	

	.main__menu.active .menu__item {
		height: 37px;
		margin: 0 auto;
		display: block;
		transition: all 0.4s ease;
		color: blue;
		border-bottom: 2px solid blue;
		font-weight: 700;
	}


	
	.main__menu.active .menu__item:first-child {
		border-top: 2px solid blue;
	}

	.menu__item:last-child {
		border-bottom:  1px solid blue;
	}

	.menu-toggle {
	    display: block;
	    width: 275px;
	    margin: 0 auto;
	    line-height: 2;
	    height: 52px;
	    background-color: #fff;
	    transition: all 0.3s ease;
	    text-align: center;
	    vertical-align: middle;
	    width: 95%;
	    transition: all 0.4s ease;
	    line-height: 2.4;
	    transition: all 0.3s ease;
	}

	.menu__toggle.active {
		border-bottom:  1px solid blue;
		 transition: all 0.3s ease;
	}

	.menu-toggle:after {
	    content: 'Open me!';
	    border: 2px solid green;
	    border-radius: 45%;
	    display: inline-block;
	    width: 30px
	 	height: 30px;
	    color: #fff;
	    background-color: green;
	    text-align: center;
	    font-weight: 900;
	    text-align: center;
	    vertical-align: middle;
	    transition: all 0.3s ease;
	    line-height: 2;
	}

	.menu-toggle.active:after {
		content: 'Close me!';
		border: 2px solid red;
		height: 30px;
		border-radius: 20%;
		color: #fff;
		background-color: red;
		transition: all 0.3s ease;
		transition: all 0.3s ease;
		line-height: 1.5;
	}

	.menu-toggle:before {
		display: block;
		content: '';
		background-image: url('../img/menu.png');
		background-size: cover;
		position: absolute;
		width: 40px;
		height: 40px;
		top: 3vh;
		right: 25px;
		transition: all 0.3s ease;
	}

	.menu-toggle.active:before {
		background-image: url('../img/cancel.png');
	}
}

.about {
	background: orange;
}

.about__title {
	text-align: center;
}



